@( feed: Feed )

<div id="feedBackId" value="@feed.id.get"></div>

<h3> Personalize feedback page</h3>
<div id="personalize">
  <div id="showElements"> 
    <p> No element currently selected. </p>
  </div>

  <a href="#addElementModal" class="btn btn-success" id="addFeedInstance" role="button" data-toggle="modal">
    <i icon="icon-plus"></i> Add element
  </a>
</div>

<h3> Comment wall </h3>
<div id="commentWallPref">
  <form class="commentPref" action="#">
    <ul class="unstyled">
      <label class="checkbox">
        <li> <input type="checkbox" name="showWall" value="true">Show comment wall </li>
        <li> <input type="checkbox" name="anon" value="false">Make wall anonymous </li>
        <li> <input type="checkbox" name="single" value="false">Require single post </li>
        <label class="checkbox">
        </ul>
      </form>
    </div>
    <h3> Privacy options </h3>
    <form class="privacy" action="#">
      <label class="radio">
        <input type="radio" name="privacy" value="invite">Invite only<br>
        <input type="radio" name="privacy" value="link">Link only<br>
        <input type="radio" name="privacy" value="open" checked>Public<br>
      </label>
    </form>

  </div> <!--end edit-->
</div>

<!-- Modal -->
<div id="addElementModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addElementModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="addElementModalLabel">Add Feedback Element<h3>
      </div>
      <div class="modal-body">
        <h3>Enter question, description and type</h3>

        <div id="addFeedElement" action="#">
          <div class="control-group">
            <div class="controls">
              <input class="input-large" type="text" name="question" placeholder="Question?" id="question" value="Question?"> <br>
              <textarea rows="2" name="description" placeholder="I have one" id="description" value="Please, tell me!"></textarea> <br>
              Type: <br>
              <select id="formType">
                <option value="openQuest" selected>Open Question</option>
                <option value="slider">Slider</option>
                <option value="mulChoice">Multiple choice</option>
                <option value="select">Select</option>
              </select>

              <div id="slideVals">
                <select id="from" class="input-mini">
                  <option>0</option>
                  <option>1</option>
                </select>
                To: 
                <select name="to" id="to" class="input-mini">
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option selected="selected">9</option>
                  <option>10</option>
                </select> <br>
                <div id="labelToContainer"> 
                  <label id="from"> </label>
                  <input class="input-medium" type="text" placeholder="Label (Optional)" id="labelFrom"> <br>
                </div>
                <div id="labelFromContainer"> 
                  <label id="to"> </label>
                  <input class="input-medium" type="text" placeholder="Label (Optional)" id="labelTo"> <br>
                </div>
              </div> <!--end slideVals-->

              <div id="inputLabels">
                <ul class="table" id="trueOptions"> 
                  <li id="firstEl"> 
                  <input class="input-medium opts" type="text" placeholder="Option 1" id="1" value="Option 1"> 
                  </li>
                </ul>

                <ul class="table"> 
                  <li>
                  <input class="input-medium opts" type="text" placeholder="Add other option" id="addOption" > 
                  </li>
                </ul>
              </div> <!--end inputLabels-->

              @*
              <hr size="1">
              <div id="render"> 
                <h5 id="question"> Question? </h5>
                <p id="description">I have one</p>
                <div id="type"> </div>
              </div>
              <hr size="1">
              *@

              <div class="modal-footer">
                <div class="form-action">
                  <button class="btn" type="reset" data-dismiss="modal" aria-hidden="true">Cancel</button>
                  <button class="btn btn-primary" data-dismiss="modal" type="submit" id="createbutton">Create</button>
                </div>
              </div> <!--end modal footer-->

            </div>
          </div> <!-- end modal -->
