@( user:User, feed: Feed )

@import helper.twitterBootstrap._

@main("FlipFeed: " + feed.name, user ) {
<div id="feedContainer">
  <div class="page-header">
    <h1>@feed.name<small> @feed.description</small></h1>
  </div>


  <div id="feedBackId" value="@feed.id.get"></div>

  @if( user.name != feed.owner ) {

  <h3 id="author"> Created by @feed.owner </h3>

    } else { @* your own feedback *@

    <div class="tabs-flipfeed">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i>Home</a></li>
        <li><a href="#results" data-toggle="tab"> <i class="icon-comment"> </i>Results</a></li>
        <li><a href="#edit" data-toggle="tab"><i class="icon-cog"></i> Edit</a></li>
      </ul>
    </div>

    <div id="myTabContent" class="tab-content">

    }

      <div class="tab-pane fade in active" id="home">
        <ul class="table" id="viewFeed">
          <li id="firstEl"></li>
        </ul>

        @if( user.name != feed.owner ) {
          <button class="btn btn-primary" type="submit" id="sendForm" >Submit</button>
        }
      </div> <!--end home-->

      @if( user.name == feed.owner ) {

      <div class="tab-pane fade" id="results">
        <!--display the comments -->
        @elements.results( new ResultSet ( feed.id.get ) )

      </div>
      <div class="tab-pane fade" id="edit">
        @feeds.edit( feed )
      </div> <!--end edit-->
    </div>

    <script>
      <!-- activate the tabs -->
      $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      })
    </script>

      }
  </div> <!-- end feed container-->

      @if( user.name == feed.owner ) {
  <script>
    window.location.hash = 'edit';
  </script>
      } else {
  <script>
    window.location.hash = 'view';
  </script>
      }
}
