@( user: User, feeds:Seq[Feed], form:Form[(String,String,String)])

@main("FlipFeed dashboard", user) {

    <a href="@routes.Feeds.index" class="navbar-link">Dashboard</a>

    <h1>Your feedback pages:</h1>
    
      @feeds.map { feed =>
        <dl >
          <dt>
          <a class="feeds" id="@feed.name" href="@routes.Feeds.display(feed.owner, feed.name)">
            @feed.name
          </a> </dl>
        </dl>
      }
    
    <!-- Button to trigger modal -->
    <a href="#myModal" role="button" class="btn btn-primary" id="popupCreate" data-toggle="modal">Create New Feedback Page</a>
     
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Create Feedback page<h3>
    </div>
    <div class="modal-body">
    <h3>Enter name and description</h3>

    @helper.form( routes.Feeds.add, 'id-> "newFeedForm") {
      @form.globalError.map { error =>
        <p class="error">
          @error.message
      }
      <div class="control-group">
        <p>
        <div class="controls">
          <label class="control-label" for="name">New Name</label>
          <input class="editFeedName" type="text" name="name" placeholder="Name" id="name" value="@form("name").value">
        <div>
        </p>
        <p>
          <input type="text" name="description" placeholder="Description" id="description">
        </p>
        <p>
         <label class="checkbox">
          <input type="checkbox" name="anon" value="anon" >Anonymous wall
        </label>
        </p> 
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-action">
          <button class="btn" type="reset" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button class="btn btn-primary" type="submit" id="createbutton">Create</button>
        </div>
      </div>
    }
    </div>
  </div> <!-- end modal -->

}
